.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height:200px;
  width: 100%;
  }
  .content{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: center;
      align-items: center;
    }
    .static{  
      display:none;
    }
  .static h1{
   display: none;

  }
  .static p {
  display: none;
  } 

.move{
  position: relative;
  display: flex;
  flex-direction: row;
/*   justify-content: center;
  align-items: center; */
 transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  


}
.first{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  position: absolute;
  width: 200%; 
  height: 100%; 
 left: 100%;
  background-color: #876d6d;
  animation: marquee 15s   infinite 7.5s ;

}
.second{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 200%;
  height: 100%;
  left: 100%;
  background-color: #d71c1c;
  animation: marquee 15s   infinite  ; 

}
.image{

width:100%;

object-fit:cover;
/* border-radius: 4px; */

/* justify-content: space-between; */
}
   @keyframes marquee {

    0%{
      left: 200%;
     }
     16%{
      left:100%;
     }
     32%{
      left:100%;
     }
     48%{
      left: 0%;
     }
     54%{
      left: 0%;
     }
     64%{
      left: 0%;
     }
     80%{
      left: -100%;
     }
     
     82%{
      left: -100%;
     }
 
     100%{
      left: -200%;

     }
     /* 
     */
    }
    @media screen and (min-width:720px), (min-heigth:500px){
      .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color:#f8f8f8;;
        height:200px;
        width: 100%;
        }
        .content{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          position: relative;
        }
        .static{  
          display: flex;
          flex-direction: row;
          width: 50%;
          border-top: 200px solid#83f490;
          border-right: 200px solid transparent;
          z-index: 1;
          position: absolute;
          justify-content: flex-start;
      }
      .static h1{
        color: #000;
       display: flex;
       font-family: 'Bebas Neue', sans-serif;
       margin-top :-165px;
       margin-left: 50px;
      }
      .static p {
        margin-top :-130px;
        color: #000;
        display: flex;
        font-family: 'Bebas Neue', sans-serif;
      
      }
      .move{
        position: relative;
        left: 50%;
        display: flex;
          justify-content: center;
        align-items: center;
       transform-style: preserve-3d;
        width: 100%;
        height: 200px;
        background-color: #ffffff;
      
      }
      .first{
        white-space: nowrap;
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 100%;  
        background: #000;
       left: 50%;
       animation: marquee 20s  infinite 10s;
      }
      .second{
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        white-space: nowrap;
        background-color: #d71c1c;
      animation: marquee 20s   infinite  ; 
      
      }
      .image{
      
      width:50%;
      height: 200px;
      object-fit:cover;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      }
         @keyframes marquee {
      
           0%{
            left: 100%;
           }
           16%{
            left:50%;
           }
           32%{
            left:50%;
           }
           48%{
            left: 0%;
           }
           54%{
            left: 0%;
           }
           64%{
            left: 0%;
           }
           80%{
            left: -50%;
           }
           
           82%{
            left: -50%;
           }
       
           100%{
            left: -100%;
      
           }
          }
    }
  