.container {
  text-align: left;
}
.subtitle {
  align-self: flex-end;
  font-family: 'Bebas Neue', sans-serif;
  color: var(--stroke);
  margin-right: 60px;
}
.divisionBar {
  display: flex;
  height: 10px;
  width: 100%;
}
.content {
  font-family: 'Bebas Neue', sans-serif;
  color: var(--stroke);
  margin: auto;
}

.text {
  font-family: 'Bebas Neue', sans-serif;
  margin-left: 30px;
}

.text a {
  font-family: 'Bebas Neue', sans-serif;
  color: var(--attention);
  font-size: 1em;
}

.text a:hover {
  text-transform: uppercase;
  color: var(--stroke);
}
.text h4{
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Bebas Neue', sans-serif;
  color :black;
  max-width: 25vh;
  margin-left: 5px;
}
.text p{
  text-align: center;
  max-width: 45vh;
  font-size: medium;
  font-family: 'Bebas Neue', sans-serif;
  color :black;
  margin-top: -40px;
  margin-left: -70px;
}
.content {
  margin: 1vw 0 1vw 0;
}
.divisionBar {
  margin: 1vw 0 1vw 0;
}
@media screen and (min-width:720px), (min-heigth:500px){

  .container {
      text-align: left;
    }
    .subtitle {
      align-self: flex-end;
      font-family: 'Bebas Neue', sans-serif;
      color: var(--stroke);
      margin-right: 60px;
    }
    .divisionBar {
      display: flex;
      height: 10px;
      width: 100%;
      
    }
    .content {
      font-family: 'Bebas Neue', sans-serif;
      color: var(--stroke);
      margin: auto;
    }
    
    .text {
      font-family: 'Bebas Neue', sans-serif;
      margin-left: 30px;
    }
    
    .text a {
      font-family: 'Bebas Neue', sans-serif;
      color: var(--attention);
      font-size: 1em;
    }
    
    .text a:hover {
      text-transform: uppercase;
      color: var(--stroke);
    }
    .text h4{
      font-family: 'Bebas Neue', sans-serif;
      color :black;
      max-width: 25vh;
     margin-left: 25px;
    }
    .text p{
      max-width: 25vh;
      font-size: small;
      font-family: 'Bebas Neue', sans-serif;
      color :black;
      margin-top: -60px;
      margin-left: 25px;
    }
   
    .content {
      margin: 1vw 0 1vw 0;
    }
    .divisionBar {
      margin: 1vw 0 1vw 0;
    }
}



